.center-block {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    background-color: #12172D;

    @media (max-width: 768px) {
      place-items: flex-start;
    }
  }

  .login-block {
    max-width: 964px;
    width: 100%;
    box-shadow: 0px 4px 68px 0px rgba(4, 37, 155, 0.26);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    @media (max-width: 768px){
      grid-template-columns: 1fr;
      width: 100%;
      min-height: initial;
      box-shadow: none;
    }

    .left {
      background-color: #FFFFFF;
      padding: 80px 68px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 768px){
        padding: 20px 30px;
      }

      h1 {
        font-size: 32px;
        color: #000000;
        text-align: left;
        line-height: 1.125;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        margin: 0;
      }

      h5 {
        font-size: 16px;
        color: #ffffff;
        text-align: left;
        line-height: 1.333;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
      }

      img {
        @media (max-width: 768px){
          display: none;
        }
      }
    }

    .right {
      background-color: #EBEBEB;
      padding: 80px 68px 45px;
      display: flex;

      @media (max-width: 768px){
        padding: 40px 30px;
        align-items: center;
      }

      .form-block {
        flex: 1;

        h5 {
          font-size: 16px;
          color: #61584D;
          text-align: left;
          line-height: 1.333;
          font-family: 'Nunito Sans', sans-serif;
          font-weight: 600;
        }
      }
    }

    .right-centered {
      align-items: center;
    }
  }

  .form-group {
    margin-bottom: 25px;
  }

  .form-control {
    background: #FFFFFF;
    border: none;
    border-bottom: 1px solid #D9E2E9;
    border-radius: 10px;
    padding: 6px 10px;
    color: rgb(98, 98, 98);
  }

  ::placeholder {
    font-size: 14px;
    color: rgb(98, 98, 98);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
  }

  .custom-control-label {
    font-size: 14px;
    color: rgb(98, 98, 98);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
  }

  .custom-control-label::before,
  .custom-control-label::after {
    top: 0;
  }

  .green-btn {
    background-color: rgb(50, 207, 140);
    border-radius: 3px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    min-height: 45px;
    margin-bottom: 17px;
    margin-top: 80px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
  }

  .link {
    color: rgb(98, 98, 98);
    font-size: 14px;
    line-height: 1.715;
    text-align: center;
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    cursor: pointer;
  }

  .blue-link {
    color: rgb(48, 170, 233);
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.140;
    display: block;
    margin-top: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
  }

  h3 {
    font-size: 20px;
    color: #626262;
    text-align: left;
    line-height: 1.125;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    margin: 0 0 40px;
  }
